<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
     @Styles.Render("~/Content/css")

   <script type="text/javascript" src="~/Scripts/toastr.min.js">
   </script>

    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/calendar.css" type="text/css">
</head>

<body data-spy="scroll" data-target="#masternavbar">
    <div class="navbar navbar-inverse navbar-fixed-top" id="masternavbar">
    <div class="navbar-inner borderOverride">
        <a class="navbar-brand active" href="#" id="navbarlabel">iFoneFix</a>
        <ul id="navbarlinks" class="nav navbar-nav">
            <li id="Calendarlink"><a href="#calenderSection">Calendar</a></li>
        </ul>
        
    </div>
</div>
  

    @RenderBody()


       @RenderSection("scripts", required: false)
<script>
    $('#navbarlabel').click(function () {
        window.location = "@iphonefix.Infrastructure.Utils.GetSiteRoot()";
    });

    $.when($(window).scrollTop() === 0).done(function () {
        $('#Calendarlink').addClass('active');
    });

    $(window).scroll(function () {
        $('ul #navbarlinks li.active').removeClass('active');

        var scroll = $(window).scrollTop();

        if (scroll <= 500) {
            $('#Calendarlink').addClass('active');
        }

    });



</script> 
     <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>  
   
</body>
</html>
