<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
     @Styles.Render("~/Content/css")

   <script type="text/javascript" src="~/Scripts/toastr.min.js">
   </script>

    <LINK href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse">
    <div class="navbar-inner borderOverride">
        <a class="brand active" href="#" id="navbarlabel">Derrick Rahbar</a>
        
    </div>
</div>
  

    @RenderBody()


       @RenderSection("scripts", required: false)
<script>
    $('#navbarlabel').click(function () {
        window.location = "@iphonefix.Infrastructure.Utils.GetSiteRoot()";
    });
</script>   
   
</body>
</html>
